* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    width: 100%;
}

header {
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
    background-image:
        linear-gradient(45deg, rgba(255, 215, 0, 0.05) 25%, transparent 25%),
        linear-gradient(-45deg, rgba(255, 215, 0, 0.05) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, rgba(255, 215, 0, 0.05) 75%),
        linear-gradient(-45deg, transparent 75%, rgba(255, 215, 0, 0.05) 75%);
    background-size: 40px 40px;
    color: #fff;

    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 60px;
        color: #ebd294;

    }

    .hamburguesa {
        width: 350px;
    }

    .logo,
    .hamburguesa {
        width: 300px;
    }
}

main {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-image: url(./imgs/backgroud_main.png);
    background-size: cover;

    div {
        justify-items: center;
        padding: 20px;

        img {
            width: 300px;
            border-radius: 50px;
        }

        p {
            color: #ebd294;
            font-size: 16px;
        }

        button {
            background-color: #806605;
            padding: 20px;
            font-size: 25px;
            border-radius: 100px;

        }
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 20%;
    background-image: url(./imgs/background_main.png);
    background-size: auto;
    background-position: center;
    background-position-y: 210px;
    justify-content: center;
    justify-items: center;
    color: #ebd294;

    .contacto {
        padding-top: 30px;

        h2 {
            margin: auto;
        }
    }

    .Siguenos {
        padding: 20px;

        .imgs {
            img {
                width: 50px;
            }
        }
    }
}

@media (max-width: 1200px) {
    main {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 1000px) {
    header {
        grid-template-columns: 1fr 1fr;
    }

    .logo {
        grid-column: 1;

    }

    h1 {
        grid-row: 2;
        grid-column: 1 / 3;
        padding-bottom: 20px;

    }

    .hamburguesa {
        grid-row: 1;
        grid-column: 2;
    }
}

@media (max-width: 800px) {
    main {
        grid-template-columns: auto;
    }
}

@media (max-width: 600px) {
    header {
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;

        .logo {
            grid-row: 1;

        }

        h1 {
            grid-row: 3;
            padding-bottom: 20px;

        }

        .hamburguesa {
            grid-row: 2;
            grid-column: 1;
        }
    }
}

@media (max-width: 500px){
    main{
        padding: 30px 0 30px 0;
        div{
            
            padding: 0;
            p{
                padding: 40px;
            }
            img{
                padding-top: 20px;
            }
        }
    }
}

@media (max-width: 400px){
    header{
        h1{
            font-size: 40px;
        }
    }
}