* {
    margin: 0;
    padding: 0;
    border: 0;
    border-color: none;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    border:none;
    height: 40%;
    background-image: url(./imgs/header.png);
    background-position: center;
    background-size: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    .imagen-box {
        width: 100%;
        display:flex;
        justify-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        img{
            width: 400px;
            position: absolute;
            top: -50px;
            
            
        }
        
    }

}
main{
    height: 40%;
    width: 100%;
    background-image: url(./imgs/completa.png);
    background-position: center;
    background-size: 1440px;
    background-repeat: no-repeat;
    background-position-y:-650px;
    border: none;
    .eslogan{
        display: flex;
        justify-content: center;
        p{
            font-size: 50px;
            color: rgb(222, 170, 103);
            
        }
    }
    .productos{
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        justify-items: center;
        div{
            display:flex;
            justify-content: center;
            justify-items: center;
        }

        .ha{
            transform: scale(1.2);
        }
        .ha:hover{
            transform: scale(1.4);
        }

        img{
            width:250px;
        }
        img:hover {
            transform: scale(1.2);
        }
    }
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 20%;
    background-image: url(./imgs/header.png);
    background-size: auto;
    background-position: center;
    background-position-y: 210px;
    justify-content: center;
    justify-items: center;

    .contacto{
        padding-top: 30px;
        h2{
           margin:auto;
        }   
    }
    .Siguenos{
        padding: 20px;
        .imgs{
            img{
                width: 50px;
            }
        }
    }
}
@media(max-width: 1000px){
    main{
        height: max-content;
        background-position: center;
        background-size: 2000px;
        background-position-y: -850px;
        .productos{
            grid-template-columns: auto auto;
        }
    }
}

@media(max-width: 500px){
    main{
        .eslogan{
            p{
                text-align: center;
            }
        }
        .productos{
            div{
                img{
                    width: 150px;
                }
            }
        }
    }
}

@media(max-width: 380px){
    footer{
        .Siguenos{
            .imgs{
                img{
                    width: 30px;
                }
            }
        }
    }
}